<%= form_with(model: testpage, local: true) do |form| %>
  <% if testpage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(testpage.errors.count, "error") %> prohibited this testpage from being saved:</h2>

      <ul>
      <% testpage.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employeenumber %>
    <%= form.number_field :employeenumber, id: :testpage_employeenumber %>
  </div>

  <div class="field">
    <%= form.label :employeename %>
    <%= form.text_field :employeename, id: :testpage_employeename %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
