<p id="notice"><%= notice %></p>

<p>
  <strong>Employeenumber:</strong>
  <%= @testpage.employeenumber %>
</p>

<p>
  <strong>Employeename:</strong>
  <%= @testpage.employeename %>
</p>

<%= link_to 'Edit', edit_testpage_path(@testpage) %> |
<%= link_to 'Back', testpages_path %>
